<div class="d-flex justify-content-center align-items-start">
    <div class="col-lg-6 col-md-6 col-sm-12 px-3">
        <h3>Create Artist</h3>
        
        <form method="POST"> {% csrf_token %}
            {{ artist_form.as_p }}
            
            <div class="form-group mt-4">
                <button type="submit" class="w-100 btn btn-success">Submit</button>
            </div>
        </form>
    </div>
    
    <div class="col-lg-6 col-md-6 col-sm-12 px-3">
        <h3>Create Song Details</h3>
        <form method="POST"> {% csrf_token %}

            <div class="form-group mt-4">
                <label for="title">Song Title:</label>
                {{song_form.title}}
            </div>
            <div class="form-group mt-4">
                <label for="title">Song Lyrics:</label>
                {{song_form.lyrics}}
            </div>
            <div class="form-group mt-4">
                <label for="album">Album Cover:</label>
                {{song_form.album_cover_url}}
            </div>
            <div class="form-group mt-4">
                <label for="artist">Artist:</label>
                {{song_form.artist_id}}
            </div>
            <div class="form-group mt-4">
                <label for="published">Published Date</label>
                {{song_form.year_published}}
            </div>
            
            <div class="form-group mt-4">
                <button type="submit" class="w-100 btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>